<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="flex-column min-100-vh">
  <header class="hero">
    <h1 class="app-title"><a herf="/">View Your Dashboard</a></h1>
  </header>

  <nav class="navbar">
    <ul>
      <li class="nav-item li-inline"><a href="/">Home</a></li>
      <li class="nav-item li-inline"><a href="/dashboard">Dashboard</a></li>
      <li class="nav-item li-inline"><a href="/login">Login</a></li>
      <li class="nav-item li-inline"><a href="/signup">Sign Up</a></li>
    </ul>
  </nav>
  
    <header class="hero">
      <h1 class="app-title"><a herf="">Dashboard</a></h1>
    </header>

  <main>
    {{{body}}}
  </main>

</body>

</html>
<script src="/js/logout.js"></script>