<div class= 'container mt-5'>
    <div class="card m-3">
        <div class="card-header">
            <h3 class = "card-title">
                {{post.title}}
            </h3>
            <p class = "card-subtitle text-muted">
                {{post.user.username}}
            </p>
        </div>
    </div>
</div>
<script src="/js/comment.js"></script>